<div class="container">

  <div *ngIf="!registerMode" style="text-align: center;">
    <div *ngIf="currentUser$| async as user" style="text-align: center;">
      <h1>Hey {{user.knownAs}}</h1>
      <p class="lead" 
      > Welcome back, here you can find your match by
      <a routerLink="/members">
        Click Here
        </a>
    </p>
  </div>
    <div *ngIf="!(currentUser$ | async)" style="text-align: center;">
    <h1>Find Your match</h1>
    <p class="lead"> Come on in to view your matched...  all u need to do is sign up</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn More</button>  
  </div>
</div>
</div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <p>
          <app-register [usersFromHomeComponent]="users" (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </p>
      </div>
    </div>
  </div>
</div>
